<html>
	<head>

		<link rel="stylesheet" type="text/css" href="styles/style.css"/>

	</head>

	<body>

		<div id="header-bar">
			<div id="header-content">
				<div class="kiri">
					<img src="img/logo_small.png" width="20px"/>
				</div>
				<div class="kanan">
					Hi <a href="#">RatnaAsri!</a> | <a href="#">Profil</a> | <a href="#">Logout</a>
				</div>
			</div>				
		</div>

		<div id="content">

			<div id="login">
					
				<div id="profil-bar">

					<div id="profil-kiri" class="kiri">
						<div id="profil-photo">
							<img src="photo/ratna.jpg" width="80px" height="80px"/>
						</div>
					</div>
					
					<div id="profil-kanan">

						<div class="kiri">

							<div id="profil-username">@RatnaAsri <a href="#" class="teman-button">+teman</a></div>
							<div id="profil-bio">Ini Ratna. Studied Computer Science at Indonesia
												 University of Education. Lives in Bandung</div>

						</div>

					</div>
					
					

					<div class="clear"></div>
				</div>

				<div class="menu-jadwal">
					<a href="#">+ Tambah Jadwal</a>
				</div>


				<div id="jadwal-scroll">
					<div id="jadwal-container">

						<div class="jadwal-card">
							<div class="judul-jadwal">
								<span class="judul">
									Senin
								</span>
							</div>

							<div class="jadwal-content">
								<span class="jadwal-judul">Pemrograman Internet</span><br/>
								<span class="jadwal-waktu">08:00-09:00</span><br/>
								<span class="jadwal-menu">edit | copy</span><br/>
							</div>

							<div class="jadwal-content">
								<span class="jadwal-judul">Nonton Bareng Teman Teman di tempat makan</span><br/>
								<span class="jadwal-waktu">08:00-09:00</span><br/>
								<span class="jadwal-menu">edit | copy</span><br/>
							</div>

							<div class="jadwal-content">
								<span class="jadwal-judul">Nonton Bareng</span><br/>
								<span class="jadwal-waktu">08:00-09:00</span><br/>
								<span class="jadwal-menu">edit | copy</span><br/>
							</div>
						</div>				

						<div class="jadwal-card">
							<div class="judul-jadwal">
								<span class="judul">
									Selasa
								</span>
							</div>

							<div class="jadwal-content">
								<span class="jadwal-judul">Pemrograman Internet</span><br/>
								<span class="jadwal-waktu">08:00-09:00</span><br/>
								<span class="jadwal-menu">edit | copy</span><br/>
							</div>

							<div class="jadwal-content">
								<span class="jadwal-judul">Nonton Bareng</span><br/>
								<span class="jadwal-waktu">08:00-09:00</span><br/>
								<span class="jadwal-menu">edit | copy</span><br/>
							</div>

						</div>		

						<div class="jadwal-card">
							<div class="judul-jadwal">
								<span class="judul">
									Rabu
								</span>
							</div>

							<div class="jadwal-content">
								<span class="jadwal-judul">Pemrograman Internet</span><br/>
								<span class="jadwal-waktu">08:00-09:00</span><br/>
								<span class="jadwal-menu">edit | copy</span><br/>
							</div>

							<div class="jadwal-content">
								<span class="jadwal-judul">Nonton Bareng</span><br/>
								<span class="jadwal-waktu">08:00-09:00</span><br/>
								<span class="jadwal-menu">edit | copy</span><br/>
							</div>

						</div>		

						<div class="jadwal-card">
							<div class="judul-jadwal">
								<span class="judul">
									Kamis
								</span>
							</div>

							<div class="jadwal-content">
								<span class="jadwal-judul">Pemrograman Internet</span><br/>
								<span class="jadwal-waktu">08:00-09:00</span><br/>
								<span class="jadwal-menu">edit | copy</span><br/>
							</div>

							<div class="jadwal-content">
								<span class="jadwal-judul">Nonton Bareng</span><br/>
								<span class="jadwal-waktu">08:00-09:00</span><br/>
								<span class="jadwal-menu">edit | copy</span><br/>
							</div>

						</div>		

						<div class="jadwal-card">
							<div class="judul-jadwal">
								<span class="judul">
									Jumat
								</span>
							</div>

							<div class="jadwal-content">
								<span class="jadwal-judul">Pemrograman Internet</span><br/>
								<span class="jadwal-waktu">08:00-09:00</span><br/>
								<span class="jadwal-menu">edit | copy</span><br/>
							</div>

							<div class="jadwal-content">
								<span class="jadwal-judul">Nonton Bareng</span><br/>
								<span class="jadwal-waktu">08:00-09:00</span><br/>
								<span class="jadwal-menu">edit | copy</span><br/>
							</div>

						</div>		

						<div class="jadwal-card">
							<div class="judul-jadwal">
								<span class="judul">
									Sabtu
								</span>
							</div>

							<div class="jadwal-content">
								<span class="jadwal-judul">Pemrograman Internet</span><br/>
								<span class="jadwal-waktu">08:00-09:00</span><br/>
								<span class="jadwal-kategori">#kuliah</span><br/>
								<span class="jadwal-menu">edit | copy</span><br/>
							</div>

							<div class="jadwal-content">
								<span class="jadwal-judul">Nonton Bareng</span><br/>
								<span class="jadwal-waktu">08:00-09:00</span><br/>
								<span class="jadwal-kategori">#main</span><br/>
								<span class="jadwal-menu">edit | copy</span><br/>
							</div>

						</div>		

						<div class="jadwal-card">
							<div class="judul-jadwal">
								<span class="judul">
									Minggu
								</span>
							</div>

							<div class="jadwal-content">
								<span class="jadwal-judul">Pemrograman Internet</span><br/>
								<span class="jadwal-waktu">08:00-09:00</span><br/>
								<span class="jadwal-menu">edit | copy</span><br/>
							</div>

							<div class="jadwal-content">
								<span class="jadwal-judul">Nonton Bareng</span><br/>
								<span class="jadwal-waktu">08:00-09:00</span><br/>
								<span class="jadwal-menu">edit | copy</span><br/>
							</div>


						</div>	

						<div class="clear"></div>
					</div> <!--jadwal container-->
				</div> <!--jadwal scroll-->

				<div>
					<span class="judul">Teman</span>
				</div>

				<div id="friend-list">

					<a class="info" href="#">
						<img src="photo/ratna.jpg" width="40px" height="40px"/>
						<span>@ratnaasri</span>
					</a>
					
				</div>

			</div>	

		Myschedule 2013

		</div>

	</body>
</html>