<html>
	<head>

		<link rel="stylesheet" type="text/css" href="styles/style.css"/>

	</head>

	<body>

		<div id="content">


			<div id="login">
				<center>

					<img src="img/logo.png"/>
					<br/><br/>
				
					<span class="judul">Login</span>
					<br/>

				</center>


				<div class="tengah">	
					<form>
						<span class="abu">Username</span><br/>
						<input type="text" class="input-form"/><br/>
						<span class="abu">Password</span><br/>
						<input type="text" class="input-form"/><br/>
						<input type="submit" class="input-button" value="login"/>
					</form>
				</div>
				
				<center>
					<span class="info">
						<a href="#">Anda pengguna baru? Daftar disini</a>
					</span>
				</center>

			</div>

		Myschedule 2013

		</div>

	</body>
</html>