<html>
	<head>

		<link rel="stylesheet" type="text/css" href="styles/style.css"/>

	</head>

	<body>

		<div id="header-bar">
			<div id="header-content">

				<div class="kiri">
					<img src="img/logo_small.png" width="20px"/>
				</div>
				<div class="kanan">
					Hi <a href="#">RatnaAsri!</a> | <a href="#">Profil</a> | <a href="#">Logout</a>
				</div>

				<div class="clear"></div>
			</div>				
		</div>

		<div id="content">


			<div id="login">
				<center>

					<img src="img/logo.png"/>
					<br/><br/>
				
					<span class="judul">Tambah jadwal</span>
					<br/>

				</center>


				<div class="tengah">	

					<form>
						<span class="abu">Nama jadwal</span><br/>
						<input type="text" class="input-form"/><br/>
						<span class="abu">Hari</span><br/>
						<select class="input-form">
							<option>Senin</option>
							<option>Selasa</option>
							<option>Rabu</option>
							<option>Kamis</option>
							<option>Jumat</option>
							<option>Sabtu</option>
							<option>Minggu</option>
						</select>
						<br/>
						<span class="abu">Jam mulai</span><br/>
						<input type="text" class="input-form"/><br/>
						<span class="abu">Jam selesai</span><br/>
						<input type="text" class="input-form"/><br/>


						<input type="submit" class="input-button" value="Tambah jadwal"/>
					</form>

				</div>
				
				<center>
					<span class="info">
						<a href="#">Anda pengguna baru? Daftar disini</a>
					</span>
				</center>

			</div>

		Myschedule 2013

		</div>

	</body>
</html>